<% content_for :head do %>

    <style type="text/css">
        .bs-example{
            margin: 20px;
        }
    </style>

    <script>
        var category_names_array = <%= raw @category_names.to_json %>;
        var input_names_array = <%= raw @input_names.to_json %>;
        var init_programs = <%= @total_programs %>;
        var init_main = <%= @total_main %>;

        var amounts_hash = <%= raw @amount_hash.to_json %>;
        var tracked_changes = <%= raw @tracked_changes.to_json %>;

    </script>

<% end %>

<!-- Tabs -->
<ul class="nav nav-tabs">
  <li class="active tab-label"><a href="#agriculture" role="tab" data-toggle="tab"><%= t('budget.Agriculture') %></a></li>
  <li class="tab-label"><a href="#education-science" role="tab" data-toggle="tab"><%= t('budget.Education and Science') %></a></li>
  <li class="tab-label"><a href="#health" role="tab" data-toggle="tab"><%= t('budget.Health and Social Affairs') %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <!-- 'Agriculture' tab pane -->
  <div class="tab-pane active" id="agriculture">
    <%= render 'shared/budget_columns', main_program: 'Priority 25' %>
  </div>

  <!-- 'Education and Science' tab pane -->
  <div class="tab-pane" id="education-science">
    <%= render 'shared/budget_columns', main_program: 'Priority 23' %>
  </div>

  <!-- 'Health and Social Affairs' tab pane -->
  <div class="tab-pane" id="health">
    <%= render 'shared/budget_columns', main_program: 'Priority 24' %>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Conclusion</h4>
      </div>
      <div class="modal-body" id="trigger-popup-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= link_to(t('budget.reset_page'), budget_show_path(:locale => I18n.locale), class: 'btn btn-primary' )%>
      </div>
    </div>
  </div>
</div>