<% content_for :head do %>

    <style type="text/css">
        .bs-example{
            margin: 20px;
        }
    </style>

    <script>
        var category_names_array = <%= raw @category_names.to_json %>;
        var input_names_array = <%= raw @input_names.to_json %>;
        var init_programs = <%= @total_programs %>;
        var init_main = <%= @total_main %>;

        var amounts_hash = <%= raw @amount_hash.to_json %>;
        var tracked_changes = <%= raw @tracked_changes.to_json %>;

        var translations = <%= @tranlations_for_scripts.to_json.html_safe %>;

    </script>

<% end %>

<div class="col-sm-12 column" id="title-section">
    <h3>ერთად დავგეგმოთ ბიუჯეტი</h3>
    <% if !params['embed'] %>
        <a href="#" id="introduction-link"><%= t('scripts_messages.show_introduction') %></a>
    <% end %>
</div>

<% if !params['embed'] %>
    <div class="col-sm-12 column" id="introduction-section" style="display:none;">

      <p>2014 წელს საქართველოს მთავრობა დაახლოებით 200 სხვადასხვა საბიუჯეტო პროგრამას/ქვეპროგრამას ახორციელებს.</p>

      <p>ქვემოთ წარმოგიდგენთ 2014 წლის ინტერაქტიულ საბიუჯეტო კალკულატორს, რომლის <strong>მიზანია</strong> ჯანმრთელობის/სოციალური დაცვის, განათლებისა და მეცნიერების და სოფლის მეურნეობის მიმართულებებით მოსახლეობისთვის მნიშვნელოვანი პრიორიტეტების გამოკვეთა.</p>

      <p>კალკულატორი <strong>საშუალებას გაძლევთ</strong> თანხები ჯანმრთელობის/სოციალური დაცვის, განათლებისა და მეცნიერების და სოფლის მეურნეობის თქვენთვის სასურველ პროგრამაში/ქვეპროგრამაში ნებისმიერი სხვა საბიუჯეტო პროგრამიდან/ქვეპროგრამიდან გადაიტანოთ.</p>

      <p>საბიუჯეტო კალკულატორში ჯანმრთელობის/სოციალური დაცვის, განათლებისა და მეცნიერების და სოფლის მეურნეობის პროგრამები/ქვეპროგრამები მარჯვენა სვეტშია მოცემული, ხოლო ყველა დანარჩენი პროგრამა/ქვეპროგრამა -- მარცხენა სვეტში.</p>

      <p>კალკულატორი საშუალებას გაძლევთ გაზარდოთ <strong>მარჯვენა სვეტში</strong> მოცემული ჯანმრთელობის/სოციალური დაცვის, განათლებისა და მეცნიერების და სოფლის მეურნეობის პროგრამები/ქვეპროგრამები მარცხენა სვეტში მოცემული პროგრამების/ქვეპროგრამების ხარჯზე.</p>

      <p><strong>მარცხენა სვეტში</strong> მოცემული პროგრამები/ქვეპროგრამები შეგიძლიათ მხოლოდ <strong>შეამციროთ</strong>, <strong>მარჯვენა სვეტში</strong> მოცემული პროგრამები/ქვეპროგრამები კი - მხოლოდ <strong>გაზარდოთ</strong>. შესაბამისად, თანხების გადატანა მხოლოდ მარცხნიდან მარჯვნივ შეგიძლიათ, მაგრამ არა პირიქით. თუმცა თქვენ შეგიძლიათ მარცხენა <strong>სვეტის</strong> პროგრამებიდან/ქვეპროგრამებიდან მარჯვნივ გადატანილი თანხა უკან იმავე პროგრამებს/ქვეპროგრამებს დაუბრონოთ, საიდანაც აიღეთ.</p>

      <p>თქვენს მიერ მარცხენა სვეტში მოცემული პროგრამების/ქვეპროგრამების შემცირებას, ხოლო მარჯვენა სვეტში მოცემული პროგრამების/ქვეპროგრამების გაზრდას, ცხადია, თავისი შედეგები ექნება. ჩვენ ეს შესაძლო შედეგები მივაბით შემცირების/გაზრდის სხვადასხვა ზღვარს, რასაც თქვენ აირჩევთ, მაგ., 10-30%, 31-65%, 66%-90%, 90-100%. ზოგიერთ პროგრამას, შინაარსიდან გამომდინარე, უფრო ფართო პროცენტული ზღვრები აქვს, მაგ., 10-30%, 31-80%, 80-100%. პროგრამების/ქვეპროგრამების შემცირების უმცირესი პროცენტული ზღვარი ძირითადად 10 პროცენტიდან იწყება. ეს ნიშნავს, რომ 10%-ით შემცირების ან გაზრდის შემთხვევაში კალკულატორი თქვენი გადაწყვეტილების შესაძლო შედეგებს არ გაცნობთ.</p>

      <p>ვინაიდან თითოეული პროგრამის/ქვეპროგრამის ყოველი პროცენტული პუნქტით შემცირების/გაზრდისთვის შესაძლოა შედეგების დეტალიზება სრულიად ხელოვნური მიდგომა იქნებოდა, შესაძლოა შედეგები მხოლოდ თქვენ შემცირების/გაზრდის მოცემული ზღვრებისთვის შეგიძლიათ იხილოთ. შესაბამისად, ჩვენი დაშვებაა, რომ თუ რომელიმე პროგრამას/ქვეპროგრამას, მაგალითად, 10-30%-ით შეამცირებთ, ამ შემცირებას ერთი და იგივე შესაძლოა შედეგები მოჰყვება, მიუხედავად იმისა, თქვენ მოცემული ზღვარის ფარგლებში ამ პროგრამის/ქვეპროგრამის დაფინანსდებას, მაგალითად, 10%-ით შეამცირებთ, 15%-ით, თუ 27%-ით.</p>

      <p>ინფორმირებული გადაწყვეტილების მიღებაში დასახმარებლად, ჩვენ გაძლევთ საშუალებას თვალი გადაავლოთ თქვენი გადაწყვეტილების შედეგებს, მაგ., შესაძლოა თქვენთვის ძალიან მნიშვნელოვანია ინფექციური დაავადებების ან დიალიზისა და თირკმლის ტრანსპლანტაციის ქვეპროგრამების დაფინანსების გაზრდა, მაგალითად, სამხედრო განათლების ქვეპროგრამის ხარჯზე, მაგრამ მას შემდეგ რაც გაიგებთ თუ რა შედეგი მოჰყვება სამხედრო განათლების განვითარების ქვეპროგრამის, ვთქვათ, 31-65%-ით შემცირებას, შესაძლოა გადაწყვეტილება შეიცვვალოთ  და ეს ქვეპროგრამა 10-30 %-ით  შეამციროთ ან საერთოდ არ შეამციროთ.</p>

      <p>გთხოვთ კალკულატორის გამოყენებამდე გაეცნოთ ინსტრუმენტის ბოლოში მოცემულ განმარტებებს.</p>
    </div>
<% end %>

<!-- Tabs -->
<ul class="nav nav-tabs">
  <li class="active tab-label"><a href="#agriculture" role="tab" data-toggle="tab"><%= t('budget.Agriculture') %></a></li>
  <li class="tab-label"><a href="#education-science" role="tab" data-toggle="tab"><%= t('budget.Education and Science') %></a></li>
  <li class="tab-label"><a href="#health" role="tab" data-toggle="tab"><%= t('budget.Health and Social Affairs') %></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <!-- 'Agriculture' tab pane -->
  <div class="tab-pane active" id="agriculture">
    <%= render 'shared/budget_columns', main_program: 'Priority 25' %>
  </div>

  <!-- 'Education and Science' tab pane -->
  <div class="tab-pane" id="education-science">
    <%= render 'shared/budget_columns', main_program: 'Priority 23' %>
  </div>

  <!-- 'Health and Social Affairs' tab pane -->
  <div class="tab-pane" id="health">
    <%= render 'shared/budget_columns', main_program: 'Priority 24' %>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t('budget.conclusion_title') %></h4>
      </div>
      <div class="modal-body" id="trigger-popup-body">
        <ul class="nav nav-tabs">
          <li class="active tab-label"><a href="#left-hand" role="tab" data-toggle="tab"><%= t('budget.left_hand_tab') %></a></li>
          <li class="tab-label"><a href="#right-hand" role="tab" data-toggle="tab"><%= t('budget.right_hand_tab') %></a></li>
        </ul>

        <!-- Popup Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="left-hand">
          </div>
          <div class="tab-pane" id="right-hand">
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('budget.close_continue') %></button>
        <%= link_to(t('budget.reset_page'), budget_show_path(:locale => I18n.locale), class: 'btn btn-primary' )%>
      </div>
    </div>
  </div>
</div>